

.order-container{
    margin: 0%;
    
   
}

.order-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.order-container ul li a{
    height: 20rem;
    width: 26rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgb(64, 105, 64);
    
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.order-container ul li a img{
    height: 14rem;
    width: 26rem;
    
    
}